@{
    ViewData["Title"] = "Info integrantes";

}
<body>
<h1>Info Integrantes</h1>
<div>
    
    @foreach(Integrante item in viewBag.integrantes)
    {
     <a href= @Url.Action("Integrantes", "Home" new (Integrante item)) Ver info de item</a>
    }
    <h2>El Integrante 1 es @viewBag.integrantes[0].getName()</h2>
    <img src=Imagenes/@viewBag.integrantes[0].getImage()>
    <h2>El Integrante 2 es @viewBag.integrantes[1].getName()</h2>
    <img src=Imagenes/@viewBag.integrantes[1].getImage()>
    

/>
</div>
</body>
